name: CI Pipeline

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: action/checkout@v5

      - name: Set up Node.jobs
        uses: action/setup-node@v3
        with:
          node-vesrion: 16
          
      - name: Install dependencies 
        run: npm install

      - name: Run tests
        run: npm test 